<!DOCTYPE html>
<html>
  <head>
    <title>Foodlife | Home</title>
    <link rel='stylesheet' href='/stylesheets/css/main.css' />
    <link href="https://fonts.googleapis.com/css?family=Lora|Poiret+One" rel="stylesheet"> 
  </head>
  <body>
    <header class="hero">
      <nav class="hero-nav">
        <a href="#">Home</a>
        <a href="#">Latest Blogs</a>
        <a href="#">Undefined</a>
        <a href="#">Undefined</a>
        <a href="#">Sign In</a>
     </nav>

      <h1 class="hero-text">Foodlife</h1>
    </header>

  </body>
</html>
